body {
 
  color: rgba(73, 71, 75, 0.651);
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(23, 71, 75, 0.5);
  z-index: 2;
  cursor: pointer;
}
#name {
background-color: rgba(43, 2, 53, 0.075);
height: 200px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgba(73, 71, 75, 0.651);
}
#nametitle {
  padding-top: 30px; 
}
.h100 {
  height: 100vh;
}

#navbutton {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  padding-bottom: 5px;
  color:  rgba(73, 71, 75, 0.651);
}
#about {
  margin-right: 16px;
  margin-left: 15px;

}
#things {
  background-color: rgb(43, 2, 53);
  display: flex;
  align-items: center;
  padding-top: 20%;
  margin-top: 667px;
  color: whitesmoke;
}
#cardset {
  padding-top: 50px;
  
 
 
}
.img {
  background-color: #ebebeb;
  color: rgba(67, 4, 87, 0.897);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bgimg {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  max-width: 100vw;
  
 justify-content: center;
 
   
 }
#img401 {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
 
}

#mywork {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  color: whitesmoke;
  
  }
#myworktitle {
  display: flex;
  justify-content: center;
 
}
#myworkdescription {
  display: flex;
  text-align: center;
 
}
#project {
  display: flex;
  justify-content: center;
  margin: 5%;
  
}
#projects1 {
display: flex;
justify-content: center;
 
}
#smimg1 {
margin: 15px;
border: 2px solid whitesmoke;
outline: 2px solid rgba(73, 71, 75, 0.651);
outline-offset: 15px;

}

#projects2 {
display: flex;
justify-content: center;
padding-top: 50px;

}
#blank {
  min-height: 200px;
   
}

#frontend {
  display:flex;
  min-height: 150px;
  justify-content: space-around;
  background-color: #ebebeb;
  align-items: center;
  color: black;
}
#backend {
  display: flex;
  min-height: 150px;
  justify-content: space-around;
  background-color: #ebebeb;
  align-items: center;
  color: black;
}
#blank3 {
  background-color: black;
  height: 15px;
  outline-color: white;
}
#line {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
#socialmedia {
  background-color: black;
  color: white;
  height: 75px;
  font-size: 20pt;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  }
  #blankspace {
  background-color: black;
  color: white;
  height: 75px;
  font-size: 20pt;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  
  }